	html, body
	{
		height: 100%;
	}

	body
	{
		margin: 0px;
		padding: 0px;
		background: #111111;
		font-family: 'Didact Gothic', sans-serif;
		font-size: 12pt;
		font-weight: 200;
		color: #FFF;
	}


	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}

	p, ol, ul
	{
		margin-top: 0;
	}

	ol, ul
	{
		padding: 0;
		list-style: none;
	}

	p
	{
		line-height: 180%;
	}

	strong
	{
	}

	a
	{
		color: #ee0000;
	}

	a:hover
	{
		text-decoration: none;
	}

	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
	}

	.title h2 {
		color: #fff;
	}

	.icons {
		top: 25%;
		left: 35px;
		transform: translateY(50%);
		position: absolute;
		z-index: 100;
	}

	.my-icon i {
		color: #fff;
		padding: 10px;
		font-size: 1.5rem;
	}

	.my-icon i:hover {
		animation: bounce 2s;
	}

	.image
	{
		display: inline-block;
	}

	.image img
	{
		display: block;
		width: 100%;
	}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}

	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}

	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}

	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}

	ul.contact li a
	{
		color: #FFF;
	}

	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}

	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1.40em 3em;
		border: 2px solid rgba(255,255,255,1);
		border-radius: 6px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #FFF;
	}

	.button-alt
	{
		padding: 1em 2em;
		border-color: rgba(0,0,0,.8);
		color: rgba(0,0,0,.8);
	}

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}

	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}

	.box4
	{
		float: right;
	}

	.boxA,
	.boxB,
	.boxC
	{
		width: 384px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}

	.boxC
	{
		float: right;
	}

	.tbox1,
	.tbox2
	{
		width: 575px;
	}

	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

	.title
	{
		margin-bottom: 3em;
	}

	.title h2
	{
		font-size: 2.7em;
	}

	.navbar-custom {
	  position: absolute;
	  height: 200px;
	  background-color: #111111;
		padding-top: 50px;
	}

	.inner-bar {
		height: 100px;
	}

	.my-nav-brand {
		font-size: 2rem !important;
		font-weight: bold;
	}

	.my-nav {
		font-weight: bold;
		font-size: 1rem;
		color: #fff;
	}

	.title .byline
	{
		font-size: 1.3em;
		color: rgba(255,255,255,0.60);
	}

	#wrapper
	{
		position: relative;
		padding: 5em 0em 7em 0em;
		background: #FFF;
	}

	#header-wrapper
	{
		position: relative;
		padding: 0em 0em 7em 0em;
		background: #111111 url(images/header-bg.jpg) no-repeat center;
		background-size: cover;
	}

	#welcome {
		position: relative;
		padding: 5em 0em 5em 0em;
		background: #111111 url(images/header-bg.jpg) no-repeat center;
	}

	#header
	{
		position: relative;
		padding: 5em 0em;
	}

	#logo
	{
		position: absolute;
		top: 3.6em;
		left: 0;
	}

	#logo h1
	{
		font-size: 2.6em;
		color: #79C255;
	}

	#logo a
	{
		text-decoration: none;
		color: rgba(255,255,255,1);
	}

	#menu
	{
		position: absolute;
		top: 4.5em;
		right: 0;
	}

	#menu ul
	{
		display: inline-block;
	}

	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}

	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: rgba(255,255,255,0.80);
	}

	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}

	#menu .active a
	{
		border: 2px solid rgba(255,255,255,1);
		border-radius: 6px;
		color: rgba(255,255,255,1);
	}

	#banner
	{
		padding-top: 5em;
		text-align: center;
	}

	#banner .title h2
	{
		font-size: 4em;
	}

	#banner .title .byline
	{
		font-size: 2em;
	}

	#banner .button {
		margin-top: 2em;
		padding: 1.40em 3em;
		border: 2px solid rgba(255,255,255,1);
		border-radius: 6px;
		font-weight: 700;
		font-size: 1em;
	}

	.my-img img {
		max-width: 250px;
		border-radius: 50%;
	}

	.skill-set {
		border-top: 0.5px solid #fff;
		margin-top: 20px;
		padding-top: 20px;
		color: #fff;
	}

	.list-item {
		font-weight: bold;
		font-size: 1rem;
	}

	.my-contact h3 {
		color: #000;
		font-weight: bold;
		padding: 10px;
		margin-top: 70px;
	}

	.footer-contact {
		padding-top: 60px;
		padding-bottom: 45px;
	}

	.main-list li {
		display: inline;
	}

	.footer-icon i {
		padding-left: 10px;
		padding-right: 10px;
		color: #000;
	}

	@keyframes bounce {
		0%, 20%, 60%, 100% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}

		40% {
			-webkit-transform: translateY(-20px);
			transform: translateY(-20px);
		}

		80% {
			-webkit-transform: translateY(-10px);
			transform: translateY(-10px);
		}
	}

	.my-nav:hover,
	.footer-icon i:hover {
		animation: bounce 2s;
	}
