.navbar-custom {
  position: absolute;
  height: 72px;
  background-color: #3E3C3C;
}

.navbar-brand {
  font-weight: bold !important;
}

.nav-link {
  color: #fff;
  /* font-size: 15px; */
}

.project-body {
  background: #1C1A19 !important;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-icon i {
  color: #fff;
}

.my-image img {
  border-radius: 50%;
}
